
	  
	  
	  <!-- MAIN PART STARTS -->
	  
	  <div class="col-sm-6 main">
	  <h3><i class="fa fa-users" aria-hidden="true"></i> Contact</h3>
	  <p>Individual members of our research team can be contacted directly via the email addresses on their profile pages.</p>
	  
	  <h4 style="margin-top:25px;">General inquiries</h4>
	  <p>For enquiries regarding the project, please contact <a href="d.miller@ucl.ac.uk"> d.miller@ucl.ac.uk. </a> </p>
	  
	  <h4 style="margin-top:25px;">Website</h4>
	  <p>Enquiries relating to this website should be directed to <a href="tom.mcdonald@ucl.ac.uk">tom.mcdonald@ucl.ac.uk.</a></p>
	  
	  <h4 style="margin-top:25px;">Getting Involved</h4>
	  <p>We are always interested in working with committed individuals with interests and previous expertise in areas such as anthropology, ethnography, social media, film or dissemination who are willing to donate their time to contribute to this exciting project. If you are interested in getting involved, please contact <a href="r.nicolescu@ucl.ac.uk">r.nicolescu@ucl.ac.uk.</a></p>
	  
	  <h4 style="margin-top:25px;">Write to us</h4>
	  Global Social Media Impact Study<br>
		UCL Department of Anthropology<br>
		14 Taviton Street<br>
		London, WC1H 0BW<br>
	  
	  <h4 style="margin-top:25px;">Email</h4>
	  <p>Mail us to <a href="tazwarutshas@gmail.com"> researchers@ucl.com </a></p>
	  
	  <h4 style="margin-top:25px;">Cell</h4>
	  Call us at +8801666666666 except friday and within 9am-5pm.
	  
	  </div>
	  
	  
	  <!-- MAIN BODY ENDS -->
	  
	  
	  