<body>
  <div class="row container">
  
  
	  <!-- LEFT SIDEBAR STARTS -->
		
		
	
	  
	  
	  <!-- LEFT SIDEBAR ENDS-->
	  
	  
	  <!-- MAIN PART STARTS -->
	  
	  <div class="col-sm-6 main">
	  <h3><i class="fa fa-users" aria-hidden="true"></i> Events</h3>
	  
	  
	
			
	  <ul class="event-list">
		<li><h4>Free Code camp</h4>
			<p>A event named free code camp is gonna start from 14 august, 2016 in order to make peopleOne of the stars of the Olympic games in Rio has been the crowd itself. Although there are currently no paid positions available in our team.<p>
		</li>
		
		<li><h4>Inspiration camp</h4>
			<p>A event named Inspiration camp is gonna start from 14 august, 2016 in order to make peopleOne of the stars of the Olympic games in Rio has been the crowd itself. Although there are currently no paid positions available in our team.<p>
		</li>
		
		<li><h4>Free code camp</h4>
			<p>A event named Career camp is gonna start from 14 august, 2016 in order to make peopleOne of the stars of the Olympic games in Rio has been the crowd itself. Although there are currently no paid positions available in our team.<p>
		</li>
		
	  </ul>
	  </div>
	  
	  
	  <!-- MAIN BODY ENDS -->

  </div>
  

  </body>
  
 </html>